#intro {
  background-image: url(../../images/main/intro.png);
  background-position: 50% 75%;
  object-fit: cover;

  .txt-box .tit {
    text-transform: uppercase;
    display: block;
  }

  .txt-box {
    text-align: center;
    @include posXY;
    width: 100%;
  }

  .tit {
    @include intro-tit;
    position: relative;
    animation: text 3s 1;
  }

  em {
    color: $primary;
  }

  @keyframes text {
    0% {
      color: #000;
      margin-bottom: -30px;
    }

    30% {
      letter-spacing: 25px;
      margin-bottom: -30px;
    }

    85% {
      letter-spacing: 8px;
      margin-bottom: -30px;
    }
  }
}
// ----------------------------------------------------
#panel-1 {
  .sec-brd {
    width: 100%;
  }
  .row {
    height: 100%;
    width: 100%;
  }
  .flex-column {
    height: 100%;
    width: 100%;
  }
  .vd {
    object-fit: cover;
    position: relative;
  }
  .box {
    @include posY;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .txt-btn-wrap {
    display: flex;
    flex-direction: column;
    gap: 140px;
  }
  .mini-tit {
    color: $primary;
  }
  .tit {
    margin-top: 10px;

    span {
      display: block;
      @include tit;
      line-height: normal;
    }
  }
  .con {
    margin-top: 30px;
    width: 368px;
  }

  .btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 23px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border: 1px solid $txtDefult-w;
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
  }

  .btn.btn-border-1::after,
  .btn.btn-border-1::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    visibility: hidden;
  }

  .btn.btn-border-1::after {
    bottom: -1px;
    right: -1px;
    border-left: 1px solid $primary;
    border-bottom: 1px solid $primary;
    transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
  }

  .btn.btn-border-1::before {
    top: -1px;
    left: -1px;
    border-top: 1px solid $primary;
    border-right: 1px solid $primary;
    transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
  }

  .btn.btn-border-1:hover {
    animation: pulse 1s ease-out 0.4s;
    color: $primary;
  }

  .btn.btn-border-1:hover::after,
  .btn.btn-border-1:hover::before {
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    visibility: visible;
    transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
  }

  .btn.btn-border-1:hover::after {
    transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
  }

  .btn.btn-border-1:hover::before {
    transition: width 0.1s ease, height 0.1s ease 0.1s;
  }

  .more-btn {
    width: 170px;
  }
  .ico {
    font-size: 20px;
  }

  .brand-img {
    width: 600px;
    height: 330px;
    object-fit: cover;
  }
}
//-------------------------------------------------------
