#panels #panels-container .panel .intro-next {
  justify-content: flex-end;
}
#intro {
  background-image: url(../../images/main/intro.png);
  background-position: 50% 75%;
  object-fit: cover;

  .txt-box .tit {
    text-transform: uppercase;
    display: block;
  }

  .txt-box {
    text-align: center;
    @include posXY;
    width: 100%;
  }

  .tit {
    @include intro-tit;
    position: relative;
    animation: text 3s 1;
  }

  em {
    color: $primary;
  }

  @keyframes text {
    0% {
      color: #000;
      margin-bottom: -30px;
    }

    30% {
      letter-spacing: 25px;
      margin-bottom: -30px;
    }

    85% {
      letter-spacing: 8px;
      margin-bottom: -30px;
    }
  }
}
// ----------------------------------------------------
#panel-1 {
  .sec-brd {
    width: 100%;
  }
  .row {
    height: 100%;
    width: 100%;
  }
  .flex-column {
    height: 100%;
    width: 100%;
  }
  .vd {
    object-fit: cover;
    position: relative;
  }
  .box {
    @include posY;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .txt-btn-wrap {
    display: flex;
    flex-direction: column;
    gap: 140px;
  }
  .mini-tit {
    color: $primary;
  }
  .tit {
    margin-top: 10px;

    span {
      display: block;
      @include tit;
      line-height: normal;
    }
  }
  .con {
    margin-top: 30px;
    width: 368px;
  }
  .brand-img {
    border-radius: 20px;
    width: 600px;
    height: 330px;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;

    &:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }
}
//-------------------------------------------------------
#panels #panels-container #panel-2 {
  display: block;
}
#panel-2 {
  background-image: url(https://github.com/minji0164/national-geographic/blob/main/images/main/work-bg.png?raw=true);
  background-repeat: no-repeat; /* 이미지 반복 안 되도록 설정 */
  background-size: cover; /* 이미지를 오브젝트핏으로 설정하여 커버하도록 설정 */

  .txt-btn-wrap {
    @include posXY;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
  }

  .txt-wrap1 {
    text-align: center;
  }
  .mini-tit {
    color: $primary;
  }
  .tit {
    margin-top: 10px;

    span {
      display: block;
      @include tit;
      line-height: normal;
    }
  }
  .con {
    margin-top: 30px;
    width: 368px;
  }

  .works {
    padding: 0 80px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    li {
      font-size: 0;
    }

    .w-a {
      display: inline;
      position: relative;

      &:hover {
        .txt-wrap2 {
          // color: $txt-op-h;
          color: $txtDefult-w;
        }
        .w-vd {
          filter: brightness(90%);
        }
      }
    }

    img {
      filter: brightness(60%);
      object-fit: cover;
      width: 450px;
      height: 220px;
      border-radius: 20px;
    }
    .w-vd {
      filter: brightness(60%);
      object-fit: cover;
      width: 450px;
      height: 220px;
      border-radius: 20px;
    }

    .txt-wrap2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 25px;
      position: absolute;
      bottom: 0;
      color: $txt-op;
      transition: all 0.3s;

      .kate {
        @include kate;
      }

      .tit {
        margin-top: 5px;
        @include md-tit;
      }
    }
  }
}
//-------------------------------------------------------
#panel-3 {
  section {
    background: #000;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .inner {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 130px;
    height: 80%;
    width: 100%;
    bottom: -20px;
    padding: 80px;
    background: rgba(255, 255, 255, 0.05) 0%;

    backdrop-filter: blur(30px);
    border-radius: 20px;
    box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.1) inset,
      0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
    z-index: 10;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    padding: 0 35px;
    text-align: justify;
  }

  .info p {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  .movie-night {
    background: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
  }

  @keyframes gelatine {
    0%,
    100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }

  /* SWIPER */
  .swiper {
    width: 300px;
    height: 550px;
    padding: 50px 0;
  }

  .swiper-slide {
    position: relative;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    user-select: none;
    border-radius: 20px;
  }

  .swiper-slide img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-position {
    object-position: 50% 0%;
  }

  .overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #0f2027, transparent, transparent);
    background-repeat: no-repeat;
    background-size: cover;

    span {
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0 0 50px 20px;
      @include m-month;
    }
  }

  .overlay h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    @include m-h2;
    margin: 0 0 20px 20px;
  }

  /* ANIMATED BACKGROUND */

  .circles {
    overflow: hidden;
  }

  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    border: 10px solid $primary;
    animation: animate 25s linear infinite;
    bottom: -150px;
  }

  .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }

  .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }

  .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }

  .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }

  .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }

  .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }

  .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }

  .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }

  .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }

  .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }

  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }

    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  }

  .txt-btn-wrap {
    display: flex;
    flex-direction: column;
    gap: 140px;
  }
  .mini-tit {
    color: $primary;
  }
  .tit {
    margin-top: 10px;

    span {
      display: block;
      @include tit;
      line-height: normal;
    }
  }
  .con {
    margin-top: 30px;
    width: 368px;
  }
}
//-------------------------------------------------------
#panel-4 {
  // background: #000;
  background-repeat: no-repeat; /* 이미지 반복 안 되도록 설정 */
  background-size: cover;
  background-image: url(../../images/main/store-bg.png);

  .wrapper {
    gap: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .card {
    position: relative;
    width: 380px;
    height: 530px;
    display: flex;
    align-items: flex-end;
    padding: 2rem 1rem;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in-out;
    border-radius: 20px;
  }

  .card:hover {
    transform: translateY(20px);
  }

  .card::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), $primary);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
    border-radius: 20px;
  }

  .card:hover::before {
    opacity: 1;
  }

  .card img {
    filter: brightness(80%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .card .overlay {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    padding: 30px 0px;
  }

  .card:hover .overlay {
    opacity: 1;
    transform: translateY(30px);
  }

  .text-h1 {
    margin: 0;
    @include m-month;
  }

  .text-p {
    margin-top: 18px;
    margin-bottom: 30px;
  }

  .link-a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    width: auto;
    br .ico {
      font-size: 18px;
    }
  }

  .link-a:hover {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
  }
}
//-------------------------------------------------------
#panel-5 {
  .vd {
    filter: brightness(50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  .inner {
    @include posXY;
    width: 100%;
    height: 100%;
  }
  .box {
    @include posY;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .txt-btn-wrap {
    display: flex;
    flex-direction: column;
    gap: 140px;
  }
  .mini-tit {
    color: $primary;
  }
  .tit {
    margin-top: 10px;

    span {
      display: inline;
      @include tit;
      line-height: normal;
    }

    .sub-tit {
      margin-left: 15px;
      font-size: 16px;
      font-weight: 300;
    }
  }
  .con {
    margin-top: 30px;
    width: 450px;
  }

  .btn-width {
    width: 185px;
  }

  .group {
    text-align: center;
    overflow: hidden;
    display: flex;
    gap: 12px;
  }

  .ico-box {
    width: 74px;
    height: 74px;
    background: $primary;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon {
    font-size: 40px;
    color: $txtDefult-b;
  }
  .item {
    text-align: left;
    background: rgb(255, 255, 255, 0.8);
    width: 125px;
    height: 436px;
    background-position: center;
    background-size: 75vh;
    margin: 0;
    padding: 25px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    color: $txtDefult-b;

    &:nth-child(1) {
      .txt-box {
        filter: blur(0px);
      }
      width: 330px;
    }
  }

  .txt-box {
    overflow: inherit;
    width: 280px;
    margin-top: 64px;
    filter: blur(12px);
    transition: all 0.3s;
    .tit {
      @include md-tit;
    }
    .con {
      margin-top: 20px;
      width: 100%;
      height: 120px;
    }
  }
}
//-------------------------------------------------------
#stories {
  .tit-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 150px 0 100px;

    .mini-tit {
      color: $primary;
    }

    .tit {
      @include tit;
    }
    .con {
      color: $txt-op-h;
    }
  }

  .main-news {
    border-radius: 20px;
    height: 500px;
    background: $bg2;

    .link {
      overflow: hidden;
      display: flex;
      height: 100%;
      transition: all 0.3s ease;

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }

    .txt-box {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 60px;
      width: 530px;
    }

    .con-box {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .kate,
    .con,
    .date-box {
      color: $txt-op-h;
    }

    .tit {
      @include news-tit;
      span {
        display: block;
      }
    }

    .img-box {
      overflow: hidden;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      width: 750px;
      height: 100%;
    }

    img {
      object-fit: cover;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease;
    }
  }

  .letter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 37px;
    margin-top: 50px;
    padding: 40px 0;

    p {
      @include m-h2;
      font-weight: 700;
    }

    form {
      position: relative;
      display: flex;
      width: 380px;
      height: 50px;
    }

    .box {
      width: 100%;
      height: 100%;
    }

    input {
      color: $txtDefult-w;
      background: #000;
      border: 1px solid rgb(255, 255, 255, 0.3);
      border-radius: 100px;
      padding: 0 20px;
      width: 100%;
      height: 100%;
    }

    button {
      background: $txtDefult-w;
      position: absolute;
      top: 0;
      right: 0;
      padding: 9px 25px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      height: 100%;
    }
  }

  .sub-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .news-wrap {
    display: flex;
    gap: 40px;
  }

  .news {
    overflow: hidden;
    background: $bg2;
    border-radius: 20px;
    width: 400px;
    height: 535px;

    a {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

    .img-box {
      overflow: hidden;
      height: 280px;
    }
    img {
      object-fit: cover;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      width: 100%;
      height: 280px;
      transition: transform 0.3s ease;
    }

    .txt-box {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 35px 30px;

      em,
      p {
        color: $txt-op-h;
        font-size: 14px;
      }
    }

    .tit {
      @include md-tit;
    }
  }

  .more-btn {
    margin: 100px 0;
  }
}
//-------------------------------------------------------
