// 변수 설정
$txtDefult-b: #000;
$txtDefult-w: #fff;

$primary: #ffcc00;
$bg: #0a0a0a;
$hd-bg: rgba(0, 0, 0, 0.4);
$bg-w: #fff;

$gray6: rgba(255, 255, 255, 0.6);

$font-size: 16px;
$font-family: "pretendard", sans-serif;
$font-family-pop: "Poppins", sans-serif;

// 반응형 미디어 쿼리
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1440px;

// layout
$hdH: 70px;
$ftH: 70px;
