@import "variables", "fonts", "mixins", "reset";
//---------------------------------------------------------------------------------
// .wrap {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
//   max-width: none;
//   margin: 0 auto;

//   ::selection {
//     background-color: $primary; // 선택한 텍스트의 배경색을 빨간색으로 설정
//   }
// }
body {
  overflow-x: hidden;
}
//---------------------------------------------------------------------------------
.inner,
.inner2 {
  max-width: 1280px;
  margin: 0 auto;

  @media screen and (max-width: 1280px) {
    max-width: 768px;
  }

  @media screen and (max-width: 768px) {
    max-width: 328px;
  }
}

.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#masthead {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9999;
}
#masthead a {
  padding: 28px 15px;
}

#panels #panels-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
  background-color: #ddd;
}
#panels #panels-container .panel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}
// #panels #panels-container
#panels #panels-container .panel img {
  max-width: 100%;
  display: block;
}
#panels #panels-container .panel .panels-navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
#panels #panels-container .panel .anchor-panel,
#panels #panels-container .panel .nav-panel {
  color: #000;
  text-transform: uppercase;
  margin-right: 80px;
  margin-left: 80px;
  // margin-bottom: 2rem;
}
#panels #panels-container .panels-navigation {
  position: absolute;
  width: 100%;
  bottom: 2rem;
}

#panels #panels-container .panel .panels-navigation {
  justify-content: space-between;
  color: $primary;
}
.anchor {
  &:hover {
    color: $primary;
  }
}

#masthead {
  height: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
//---------------------------------------------------------------------------------
#masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  font-size: 14px;
  background: $hd-bg;

  .hd-wrap {
    width: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lg {
    display: flex;
    align-items: center;
  }
  .anchor-nav {
    span {
      color: $primary;
    }
  }
  .anchor {
    &:hover {
      color: $primary;
    }
  }
}
//---------------------------------------------------------------------------------
#content {
  ::selection {
    background-color: $primary; // 선택한 텍스트의 배경색을 빨간색으로 설정
    color: $txtDefult-b;
  }
  .btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 23px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    border: 1px solid $txtDefult-w;
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
  }

  .btn.btn-border-1::after,
  .btn.btn-border-1::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    visibility: hidden;
  }

  .btn.btn-border-1::after {
    bottom: -1px;
    right: -1px;
    border-left: 1px solid $primary;
    border-bottom: 1px solid $primary;
    transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
  }

  .btn.btn-border-1::before {
    top: -1px;
    left: -1px;
    border-top: 1px solid $primary;
    border-right: 1px solid $primary;
    transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
  }

  .btn.btn-border-1:hover {
    animation: pulse 1s ease-out 0.4s;
    color: $primary;
  }

  .btn.btn-border-1:hover::after,
  .btn.btn-border-1:hover::before {
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    visibility: visible;
    transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
  }

  .btn.btn-border-1:hover::after {
    transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
  }

  .btn.btn-border-1:hover::before {
    transition: width 0.1s ease, height 0.1s ease 0.1s;
  }
  .more-btn {
    width: 170px;
  }
  .ico {
    font-size: 20px;
  }
}
//---------------------------------------------------------------------------------
#footer {
}
//---------------------------------------------------------------------------------
@import "main";
