@import "variables", "fonts", "mixins", "reset";
//---------------------------------------------------------------------------------
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: none;
  margin: 0 auto;

  ::selection {
    background-color: $primary; // 선택한 텍스트의 배경색을 빨간색으로 설정
  }
}
//---------------------------------------------------------------------------------
.inner,
.inner2 {
  max-width: 1280px;
  margin: 0 auto;

  @media screen and (max-width: 1280px) {
    max-width: 768px;
  }

  @media screen and (max-width: 768px) {
    max-width: 328px;
  }
}

.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#masthead {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9999;
}
#masthead a {
  padding: 28px 15px;
}

#panels #panels-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
  background-color: #ddd;
}
#panels #panels-container .panel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
  text-align: left;
}
#panels #panels-container .panel img {
  max-width: 100%;
  height: auto;
  display: block;
}
#panels #panels-container .panel .panels-navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
#panels #panels-container .panel .anchor-panel,
#panels #panels-container .panel .nav-panel {
  color: #000;
  text-transform: uppercase;
  margin-right: 2rem;
}
#panels #panels-container .panels-navigation {
  position: absolute;
  width: 100%;
  bottom: 2rem;
  right: 2rem;
}

#masthead {
  height: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
//---------------------------------------------------------------------------------
#masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  font-size: 14px;
  background: $hd-bg;

  .hd-wrap {
    width: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lg {
    display: flex;
    align-items: center;
  }
  .anchor-nav {
    span {
      color: $primary;
    }
  }
  .anchor {
    &:hover {
      color: $primary;
    }
  }
}
//---------------------------------------------------------------------------------
#main {
}
//---------------------------------------------------------------------------------
#footer {
}
//---------------------------------------------------------------------------------
@import "main";
