@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url(../fonts/Pretendard-Bold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  src: url(../fonts/Pretendard-Regular.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #fff;
  background: #0a0a0a;
}

button {
  font-size: 16px;
  font-weight: 700;
  font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}

/* desktop */
@media screen and (max-width: 1280px) {
  body {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #fff;
  text-decoration: none;
  line-height: 1;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
var {
  font-style: normal;
  font-weight: normal;
}

em {
  font-style: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

body {
  overflow-x: hidden;
}

.inner,
.inner2 {
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 1280px) {
  .inner,
  .inner2 {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .inner,
  .inner2 {
    max-width: 328px;
  }
}

.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#masthead {
  position: fixed;
  display: flex;
  z-index: 9999;
}

#masthead a {
  padding: 28px 15px;
}

#panels #panels-container {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
  background-color: #ddd;
}

#panels #panels-container .panel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

#panels #panels-container .panel img {
  max-width: 100%;
  display: block;
}

#panels #panels-container .panel .panels-navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#panels #panels-container .panel .anchor-panel,
#panels #panels-container .panel .nav-panel {
  color: #000;
  text-transform: uppercase;
  margin-right: 80px;
  margin-left: 80px;
}

#panels #panels-container .panels-navigation {
  position: absolute;
  width: 100%;
  bottom: 2rem;
}

#panels #panels-container .panel .panels-navigation {
  justify-content: space-between;
  color: #ffcc00;
}

.anchor:hover {
  color: #ffcc00;
}

#masthead {
  height: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.4);
}
#masthead .hd-wrap {
  width: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#masthead .lg {
  display: flex;
  align-items: center;
}
#masthead .anchor-nav span {
  color: #ffcc00;
}
#masthead .anchor:hover {
  color: #ffcc00;
}

#content ::-moz-selection {
  background-color: #ffcc00;
  color: #212126;
}

#content ::selection {
  background-color: #ffcc00;
  color: #212126;
}
#content .btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 23px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  border: 1px solid #fff;
  cursor: pointer;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
}
#content .btn:hover {
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  animation: gelatine 0.5s 1;
}
#content .btn.btn-border-1::after,
#content .btn.btn-border-1::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  visibility: hidden;
}
#content .btn.btn-border-1::after {
  bottom: -1px;
  right: -1px;
  border-left: 1px solid #ffcc00;
  border-bottom: 1px solid #ffcc00;
  transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
}
#content .btn.btn-border-1::before {
  top: -1px;
  left: -1px;
  border-top: 1px solid #ffcc00;
  border-right: 1px solid #ffcc00;
  transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
}
#content .btn.btn-border-1:hover {
  animation: pulse 1s ease-out 0.4s;
  color: #ffcc00;
}
#content .btn.btn-border-1:hover::after,
#content .btn.btn-border-1:hover::before {
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  visibility: visible;
  transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
}
#content .btn.btn-border-1:hover::after {
  transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
}
#content .btn.btn-border-1:hover::before {
  transition: width 0.1s ease, height 0.1s ease 0.1s;
}
#content .more-btn {
  width: 170px;
}
#content .ico {
  font-size: 20px;
}

#panels #panels-container .panel .intro-next {
  justify-content: flex-end;
}

#intro {
  background-image: url(../../images/main/intro.png);
  background-position: 50% 75%;
  -o-object-fit: cover;
     object-fit: cover;
}
#intro .txt-box .tit {
  text-transform: uppercase;
  display: block;
}
#intro .txt-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#intro .tit {
  font-size: 80px;
  position: relative;
  animation: text 3s 1;
}
#intro em {
  color: #ffcc00;
}
@keyframes text {
  0% {
    color: #000;
    margin-bottom: -30px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -30px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -30px;
  }
}

#panel-1 .sec-brd {
  width: 100%;
}
#panel-1 .row {
  height: 100%;
  width: 100%;
}
#panel-1 .flex-column {
  height: 100%;
  width: 100%;
}
#panel-1 .vd {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
#panel-1 .box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#panel-1 .txt-btn-wrap {
  display: flex;
  flex-direction: column;
  gap: 140px;
}
#panel-1 .mini-tit {
  color: #ffcc00;
}
#panel-1 .tit {
  margin-top: 10px;
}
#panel-1 .tit span {
  display: block;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
}
#panel-1 .con {
  margin-top: 30px;
  width: 368px;
}
#panel-1 .brand-img {
  border-radius: 20px;
  width: 600px;
  height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
}
#panel-1 .brand-img:hover {
  filter: grayscale(0);
}

#panels #panels-container #panel-2 {
  display: block;
}

#panel-2 {
  background-image: url(https://github.com/minji0164/national-geographic/blob/main/images/main/work-bg.png?raw=true);
  background-repeat: no-repeat; /* 이미지 반복 안 되도록 설정 */
  background-size: cover; /* 이미지를 오브젝트핏으로 설정하여 커버하도록 설정 */
}
#panel-2 .txt-btn-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}
#panel-2 .txt-wrap1 {
  text-align: center;
}
#panel-2 .mini-tit {
  color: #ffcc00;
}
#panel-2 .tit {
  margin-top: 10px;
}
#panel-2 .tit span {
  display: block;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
}
#panel-2 .con {
  margin-top: 30px;
  width: 368px;
}
#panel-2 .works {
  padding: 0 80px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
#panel-2 .works ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#panel-2 .works .w-a {
  display: block;
  position: relative;
}
#panel-2 .works .w-a:hover .txt-wrap2 {
  color: #fff;
}
#panel-2 .works .w-a:hover .w-vd {
  filter: brightness(90%);
}
#panel-2 .works img {
  filter: brightness(60%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 450px;
  height: 220px;
  border-radius: 20px;
}
#panel-2 .works .w-vd {
  filter: brightness(60%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 450px;
  height: 220px;
  border-radius: 20px;
}
#panel-2 .works .txt-wrap2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 20px 25px;
  position: absolute;
  bottom: 0;
  color: rgba(255, 255, 255, 0.6);
  transition: all 0.3s;
}
#panel-2 .works .txt-wrap2 .kate {
  font-size: 12px;
}
#panel-2 .works .txt-wrap2 .tit {
  margin-top: 5px;
  font-size: 22px;
  font-weight: 700;
}

#panel-3 {
  /* SWIPER */
  /* ANIMATED BACKGROUND */
}
#panel-3 section {
  background: #000;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
#panel-3 .inner {
  height: 100vh;
  display: flex;
  align-items: center;
}
#panel-3 .content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 130px;
  height: 80%;
  width: 100%;
  bottom: -20px;
  padding: 80px;
  background: rgba(255, 255, 255, 0.05) 0%;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 20px;
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.1) inset, 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
  z-index: 10;
}
#panel-3 .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  padding: 0 35px;
  text-align: justify;
}
#panel-3 .info p {
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
}
#panel-3 .movie-night {
  background: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
}
@keyframes gelatine {
  0%, 100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
#panel-3 .swiper {
  width: 300px;
  height: 550px;
  padding: 50px 0;
}
#panel-3 .swiper-slide {
  position: relative;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 20px;
}
#panel-3 .swiper-slide img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#panel-3 .img-position {
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
}
#panel-3 .overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0f2027, transparent, transparent);
  background-repeat: no-repeat;
  background-size: cover;
}
#panel-3 .overlay span {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 50px 20px;
  font-size: 40px;
  font-weight: 700;
}
#panel-3 .overlay h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 20px 20px;
}
#panel-3 .circles {
  overflow: hidden;
}
#panel-3 .circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  border: 10px solid #ffcc00;
  animation: animate 25s linear infinite;
  bottom: -150px;
}
#panel-3 .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
#panel-3 .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
#panel-3 .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
#panel-3 .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
#panel-3 .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
#panel-3 .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
#panel-3 .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
#panel-3 .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
#panel-3 .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
#panel-3 .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
#panel-3 .txt-btn-wrap {
  display: flex;
  flex-direction: column;
  gap: 140px;
}
#panel-3 .mini-tit {
  color: #ffcc00;
}
#panel-3 .tit {
  margin-top: 10px;
}
#panel-3 .tit span {
  display: block;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
}
#panel-3 .con {
  margin-top: 30px;
  width: 368px;
}

#panel-4 {
  background-repeat: no-repeat; /* 이미지 반복 안 되도록 설정 */
  background-size: cover;
  background-image: url(../../images/main/store-bg.png);
}
#panel-4 .wrapper {
  gap: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
#panel-4 .card {
  position: relative;
  width: 380px;
  height: 530px;
  display: flex;
  align-items: flex-end;
  padding: 2rem 1rem;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
  transition: 0.5s ease-in-out;
  border-radius: 20px;
}
#panel-4 .card:hover {
  transform: translateY(20px);
}
#panel-4 .card::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #ffcc00);
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 20px;
}
#panel-4 .card:hover::before {
  opacity: 1;
}
#panel-4 .card img {
  filter: brightness(80%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
#panel-4 .card .overlay {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
  padding: 30px 0px;
}
#panel-4 .card:hover .overlay {
  opacity: 1;
  transform: translateY(30px);
}
#panel-4 .text-h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
}
#panel-4 .text-p {
  margin-top: 18px;
  margin-bottom: 30px;
}
#panel-4 .link-a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  width: auto;
}
#panel-4 .link-a br .ico {
  font-size: 18px;
}
#panel-4 .link-a:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2);
}

#panel-5 .vd {
  filter: brightness(50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
#panel-5 .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
#panel-5 .box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#panel-5 .txt-btn-wrap {
  display: flex;
  flex-direction: column;
  gap: 140px;
}
#panel-5 .mini-tit {
  color: #ffcc00;
}
#panel-5 .tit {
  margin-top: 10px;
}
#panel-5 .tit span {
  display: inline;
  font-size: 60px;
  font-weight: 700;
  line-height: normal;
}
#panel-5 .tit .sub-tit {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 300;
}
#panel-5 .con {
  margin-top: 30px;
  width: 450px;
}
#panel-5 .btn-width {
  width: 185px;
}
#panel-5 .group {
  text-align: center;
  overflow: hidden;
  display: flex;
  gap: 12px;
}
#panel-5 .ico-box {
  width: 74px;
  height: 74px;
  background: #ffcc00;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#panel-5 .icon {
  font-size: 40px;
  color: #212126;
}
#panel-5 .item {
  text-align: left;
  background: rgba(255, 255, 255, 0.8);
  width: 125px;
  height: 436px;
  background-position: center;
  background-size: 75vh;
  margin: 0;
  padding: 25px;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  color: #212126;
}
#panel-5 .item:nth-child(1) {
  width: 330px;
}
#panel-5 .item:nth-child(1) .txt-box {
  filter: blur(0px);
}
#panel-5 .txt-box {
  overflow: inherit;
  width: 280px;
  margin-top: 64px;
  filter: blur(12px);
  transition: all 0.3s;
}
#panel-5 .txt-box .tit {
  font-size: 22px;
  font-weight: 700;
}
#panel-5 .txt-box .con {
  margin-top: 20px;
  width: 100%;
  height: 120px;
}/*# sourceMappingURL=comm.css.map */